.box_gameOver{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem auto;
    height: calc(100vh - 50px);
    width: 100%;
}
h2 span {
    color: #ecfa00;
    font-size: 1.5em;
}